*{
    font-family: 'DM Sans';

}

body{
    background-color: #E5E5E5;
} 

#titulo{
    text-align: center;
    font-weight: bolder;
}

#tituloP{
    margin:10px 80px;
    padding:  10px;
    border: none;
    color:#fff;
    border-radius: 5px;
    background-color:#F34B4B;
}

ul{
    list-style-type: none;
    padding-left: 0;
}  

.inline{
    display: inline;
}

.sub{
    text-align: center;
    margin: 20px 480px;
    color:#fff;
    border:none;
    border-radius: 5px;
    background-color: #686868;
}

.categoria{
    text-align: center;
    color:#1BB3DF;
    margin: 10px 10px;
    padding: 5px;
}

#footer{
    margin: 20px 20px;
}

header{

    margin: 10px 20px;


}

nav{
    margin: 10px;
    text-align: right;
    padding: 5px;
}

#cat{
    text-align: center;
}

div.card-body{
    text-align: left;
}

.card-img-top{

    width: 100%;
    height: 250px;
    object-fit: cover;
}

.btn.btn-primary.btn-compra{
    border: none;
    background-color: #68B62F;
}

.emptyCart{
    padding: 5px;
    margin: 10px;
    text-align: center;
    font-weight: bolder;
}